{% extends 'base.html.twig' %}

{% block title %}Créer un commentaire{% endblock %}

{% block body %}
    <h1>commentaire créé avec succès !</h1>

    <p>Le commentaire a été créé avec le nom : {{ commentaire.name }}</p>

    <a href="{{ path('commentaire_index') }}">Retour à la liste des commentaire</a>
{% endblock %}
