{% extends 'base.html.twig' %}

{% block title %}Liste des commentaires{% endblock %}
{% block body %}
    <h1>Liste des commentaires</h1>

    <p>Vérification de la variable commentaires :</p>
    {{ commentaires|length }} commentaires trouvés.

    <ul>
        {% for commentaire in commentaires %}
            <li>{{ commentaire.name }}</li>
        {% else %}
            <li>Aucun commentaire trouvé.</li>
        {% endfor %}
    </ul>
{% endblock %}
