<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include '_header.html.twig' %}


        {% block content %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
    {% include '_footer.html.twig' %}

</html>
