{% extends 'base.html.twig' %}

{% block title %}Liste des Burgers - CRUDcroustillant{% endblock %}

{% block content %}
    <h1>Liste des burgers</h1>

    <p>Le contenu des burgers sera ajouté ici plus tard.</p>
{% endblock %}
