{% extends 'base.html.twig' %}

{% block title %}Accueil - CRUDcroustillant{% endblock %}

{% block content %}

    <p>Ceci est la page d'accueil.</p>

    <img src="{{ asset('images/burger.jpg') }}" alt="Burger" style="max-width: 500px;">
{% endblock %}
